// 全站設定
// 變數宣告
$primary : #4A90E2;
$secondary:  #00408B;
$third:      #D0021B;
$fourth:     #F5A623;
$fifth:       #FFF2DC;
$light:      #ffffff;
$dark:       #000000;


*, *::before, *::after{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}


img{
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

