// border
.hover--outline{
  &-bottom{
    position: relative;
    &:hover::after{
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: var(--bs-secondary);
      transform: translate(-50%, -50%);
      left: 50%;
      bottom: 0;
    }
  }
}


// text
.hover--text{
  &-light{
    &:hover{
      color: var(--bs-light);
    }
  }
  &-dark{
    &:hover{
      color: var(--bs-dark);
    }
  }
}

//背景顏色hover & active
.bg{
  &-primary{
    &:hover{
      background-color: darken($primary, 10%) !important;
    }
    &:active{
      background-color: $primary !important;
    }
  }
  &-light{
    &:hover{
      background-color: darken($light, 10%) !important;
    }
    &:active{
      background-color: $light !important;
    }
  }
}