<header class="bg-primary position-sticky top-0">
  <nav class="container">
    <ul class="row justify-content-center text-center text-secondary gx-0">
      <li class="col-4">
        <a
          class="fz-3 fz-lg-1 py-12 py-md-24 hover--text-light hover--outline-bottom"
          href="#"
        >
          My Tasks
        </a>
      </li>
      <li class="col-4">
        <a
          class="fz-3 fz-lg-1 py-12 py-md-24 hover--text-light hover--outline-bottom"
          href="#"
        >
          In Progress
        </a>
      </li>
      <li class="col-4">
        <a
          class="fz-3 fz-lg-1 py-12 py-md-24 hover--text-light hover--outline-bottom"
          href="#"
        >
          Completed
        </a>
      </li>
    </ul>
  </nav>
</header>
