<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>To Do List</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-helper-200 py-24">
      <div class="container">
        <!-- add task button -->
        <div class="mb-24">
          <button type="button" class="addTaskInput">
            <span class="material-symbols-outlined fz-1 me-8"> add </span>
            <span>Add Task</span>
          </button>
        </div>

        <!-- edit task block -->
        <div class="mb-24">
          <div class="mainTaskBlock">
            <div
              class="block-header d-flex justify-content-between align-items-center py-24 px-32"
            >
              <div class="d-flex align-items-center text-truncate">
                <input
                  type="checkbox"
                  name="taskFinshed"
                  id=""
                  class="me-16 block-check"
                />
                <div>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Type Something Here..."
                    class="block-title me-16"
                  />
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined me-32"> star </span>
                <span class="material-symbols-outlined fill text-primary">
                  edit
                </span>
              </div>
            </div>
            <div class="block-body">
              <!-- Input : deadline -->
              <div class="mb-20">
                <div class="d-flex align-items-center body-title mb-8">
                  <span class="material-symbols-outlined me-8 title-icon">
                    calendar_month
                  </span>
                  <label for="mainTaskBlockDate">Deadline</label>
                </div>
                <div class="body-content">
                  <input
                    id="mainTaskBlockDate"
                    type="text"
                    placeholder="yy/mm/dd"
                    class="input-text text-dark me-8 mb-8 mb-md-0"
                  />
                  <input
                    type="text"
                    placeholder="hh:mm"
                    class="input-text text-dark"
                  />
                </div>
              </div>

              <!-- Input : file  -->
              <div class="mb-20">
                <div class="body-title d-flex align-items-center mb-8">
                  <span class="material-symbols-outlined me-8 title-icon">
                    draft
                  </span>
                  <label for="mainTaskBlockFile">File</label>
                </div>
                <div class="body-content">
                  <div class="input-file position-relative">
                    <span
                      class="material-symbols-outlined transform-center-center"
                    >
                      add
                    </span>
                  </div>
                </div>
              </div>

              <!-- Input : comment -->
              <div class="mb-20">
                <div class="d-flex align-items-center body-title mb-8">
                  <span class="material-symbols-outlined me-8"> sms </span>
                  <label for="mainTaskBlockComment">Comment</label>
                </div>
                <div class="body-content">
                  <textarea
                    name=""
                    id="mainTaskBlockComment"
                    cols="30"
                    rows="10"
                    placeholder="Type your memo here..."
                    class="w-100 input-text text-dark"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="block-footer d-flex">
              <div class="w-50">
                <button
                  type="submit"
                  class="footer-button d-flex align-items-center justify-content-center text-third bg-light py-16"
                >
                  <!-- icon -->
                  <span class="material-symbols-outlined me-16"> close </span>
                  <!-- text -->
                  <span>Cancel</span>
                </button>
              </div>
              <div class="w-50">
                <button
                  type="submit"
                  class="footer-button d-flex align-items-center justify-content-center text-light bg-primary py-16"
                >
                  <!-- icon -->
                  <span class="material-symbols-outlined me-16"> add </span>
                  <!-- text -->
                  <span>Add Task</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
